<template name="cartShow">
    <div class="container">
        <h1 class="alert alert-info text-center">Корзина</h1>
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive thumbnail" src="/images/products/img_1.jpg" alt="Кошелек" />
                            </div>
                            <div class="col-md-8">
                                <h4><a href="#">Кошелек</a></h4>
                                <p>Производитель: <a href="#">Zi</a></p>
                            </div>
                        </div>
                    </td>
                    <td>5000 рублей</td>
                    <td><button class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Удалить</button></td>
                </tr>
                <tr>
                    <td colspan="3"><span class="pull-right"><strong>Итого: </strong> 5000 рублей</span></td>
                </tr>
                <tr>
                    <td colspan="3"><a class="btn btn-success pull-right" href="{{pathFor 'checkoutShow'}}">Оплатить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>