<template name="homeAbout">
    <div class="container">
        <h1 class="text-center alert alert-info">О нас</h1>
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'homeIndex'}}">Главная</a></li>
            <li class="active">О нас</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <h1>The Nice Shop</h1>
                <p>Мы интернет маназин The Nice Shop, богатый выбор товаров на любой вкус.</p>
            </div>
        </div>
    </div>
</template>